# Binários
minikube-linux-amd64
docker
kubectl

# Helm
charts/
Chart.lock

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Kubernetes
kubeconfig
